<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 pr-sm-0 pr-lg-1">
                <h5>Start jouw gesprek</h5>
                <p>Schrijf je in op onze nieuwsbrief en blijf op de hoogte</p>
                <form class="subscribe-form">
                    <input type="email" name="email" placeholder="Enter your email">
                    <button type="submit" class="btn-fill btn-large">
                        <img src="img/ic-arrow.svg" class="Subscribe">
                    </button>
                </form>
                <div class="social-list">
                    <a href="#">
                        <object type="image/svg+xml" data="img/ic-facebook.svg"></object>
                    </a>
                    <a href="#">
                        <object type="image/svg+xml" data="img/ic-instagram.svg"></object>
                    </a>
                    <a href="#">
                        <object type="image/svg+xml" data="img/ic-youtube.svg"></object>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <nav class="footer-navigation">
                    <h5>Zeker Sporten</h5>
                    <ul class="footer-menu">
                        <li>
                            <a href="#">Contacteer ons</a>
                        </li>
                        <li>
                            <a href="#">Over ons</a>
                        </li>
                        <li>
                            <a href="#">Verzekeringspakketten</a>
                        </li>
                        <li>
                            <a href="#">Voordelen</a>
                        </li>
                        <li>
                            <a href="#">Sportkalender</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <nav class="footer-navigation">
                    <h5>Blog</h5>
                    <ul class="footer-menu">
                        <li>
                            <a href="#">Artikels</a>
                        </li>
                        <li>
                            <a href="#">Redacteurs</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-sm-5 offset-sm-1 offset-lg-0">
                <div class="contact-info">
                    <h5>Een vraag?</h5>
                    <div><a href="callto:03/2865834">03/286.58.34</a></div>
                    <div><a href="mailto:zekersporten@sporta.be">zekersporten@sporta.be</a></div>
                    <div>Boomgaardstraat 22 bus 50 B-2600 Berchem</div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 order-2 order-sm-1 copyright">
                    <p>© Zeker Sporten</p>
                </div>
                <nav class="col-sm-9 order-1 order-sm-2 sub-footer-menu">
                    <a href="#">Algemene voorwaarden</a>          
                    <a href="#">Privacy</a>   
                    <a href="#">Cookies</a>   
                    <a href="#">Disclaimer</a>
                </nav>
            </div>
        </div>
    </div>
</footer>