<nav class="navigation">
    <div class="level brilliant">
        <div class="level-icon">
            <div class="level-name">Brilliant</div>
            <div class="help"></div>
        </div>
        <div class="level-info">
            <span>ДО ПОВЫШЕНИЯ УРОВНЯ</span>
            <div class="level-partner">
                <span>0/1</span>
                партнер
            </div>
        </div>
    </div>
    <ul class="menu">
        <li class="menu-item deposits">
            <a href="deposits.html">Депозиты</a>
            <a href="new-deposit.html" class="add menu-add"></a>
        </li>
        <li class="menu-item payments">
            <a href="payments.html">Выплаты</a>
        </li>
        <li class="menu-item business">
            <a href="business.html">Мой бизнес</a>
        </li>
        <li class="menu-item faq">
            <a href="faq.html">FAQ</a>
        </li>
    </ul>
    <div class="log-out">
        <a href="#">Выйти</a>
    </div>
</nav>